$sans-serif: 'Whitney SSm A', 'Whitney SSm B', 'Whitney SSm', sans-serif;

$black: #384047;
$white: #fff;
$grey: #4b5761;
$whitegrey: #f7f9fb;
$lightergrey: #e6eaed;
$red: #fc5c54;
$green: #5fcf80;
$blue: #3d8aeb;
$yellow: #f9df6e;
$purple: #965de8;
$brown: #93724f;
