---
title: Carmine
---
<div class="content grid__item three-quarters">
	<div class="content__inner">
		<h1 class="h3">Buttons</h1>
		<hr>

		<p>Buttons come in two forms: default and primary.</p>
		<h2 class="h4">Default buttons</h2>
		<p>The default buttons are for actions that are neither positive or negative, they simply complete an action. For instance, showing more recent activity on the Project Overview page.</p>
		<div class="grid grid--full">
			<h3 class="h5">Example</h3>
			<div class="grid__item one-sixth">
				<a href="#" class="btn btn-d--light">Light button</a>
				<p><code>.btn .btn-d--light</code></p>
			</div><!--
			--><div class="grid__item one-sixth">
				<a href="#" class="btn btn-d--dark">Light button</a>
				<p><code>.btn .btn-d--dark</code></p>
			</div>
		</div>
		<h2 class="h4">Primary buttons</h2>
		<p>Primary buttons are used to draw attention to primary actions, such as creating an item or applying a template. Primary buttons must use a colour from the primary palette.</p>
		<div class="grid grid--full">
			<h3 class="h5">Example</h3>
			<div class="grid__item one-sixth">
				<a href="#" class="btn btn--create">Create button</a>
				<p><code>.btn .btn--create</code></p>
			</div><!--
			--><div class="grid__item one-sixth">
				<a href="#" class="btn btn--destroy">Destroy button</a>
				<p><code>.btn .btn--destroy</code></p>
			</div>
			<div class="grid__item one-sixth">
				<a href="#" class="btn btn--neutral">Neutral button</a>
				<p><code>.btn .btn--neutral</code></p>
			</div>
		</div>
	</div>
</div>