---
title: Cashew
---
<div class="content grid__item three-quarters">
	<div class="content__inner">
		<h1 class="h3">Introduction</h1>
		<p>Cashew is an SCSS framework which exists to provide a repository of CSS components and base styles to enable quick prototyping and encourage consistency across our application.</p>
		<h2 class="h4">Contribution</h2>
		<p>Want to contribute? Just open a PR! Please note that contributing to this repository automatically grants GatherContent a license to use the contributed code.</p>
		<h2 class="h4">Github</h2>
		<p>We're on Github! <a href="#">Check us out</a>.</p>
	</div>
</div>