---
title: Carmine
---

<div class="content grid__item three-quarters">
	<div class="content__inner">
		<h1 class="h3">Notifications</h1>
		<hr>
		<h2 class="h4">Banners</h2>
		<p>Banners are usually pinned to the top of the page, and can be used to warn a user about an upcoming end to a trial.</p>
		<div class="grid grid--full gc-code__output">
			<div class="trial-bar trial-bar--blue">
			  <a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
			    You only have <strong>28 days</strong> remaining in your trial. Upgrade now ➝
			  </a>
			</div>
			<div class="trial-bar trial-bar--yellow">
			  <a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
			    You only have <strong>14 days</strong> remaining in your trial. Upgrade now ➝
			  </a>
			</div>
			<div class="trial-bar trial-bar--red">
			  <a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
			    You only have <strong>7 days</strong> remaining in your trial. Upgrade now ➝
			  </a>
			</div>
		</div>
		<div class="grid grid--full gc-code__input">
<pre><code>&lt;div class="trial-bar trial-bar--blue">
  &lt;a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
    You only have &lt;strong>28 days&lt;/strong> remaining in your trial. Upgrade now ➝
  &lt;/a>
&lt;/div>
&lt;div class="trial-bar trial-bar--yellow">
  &lt;a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
    You only have &lt;strong>14 days&lt;/strong> remaining in your trial. Upgrade now ➝
  &lt;/a>
&lt;/div>
&lt;div class="trial-bar trial-bar--red">
  &lt;a class="trial-bar__url" href="//acmecorp.gatherdevbenjamin.com/upgrade">
    You only have &lt;strong>7 days&lt;/strong> remaining in your trial. Upgrade now ➝
  &lt;/a>
&lt;/div></code></pre>
		</div>
		<h2 class="h4">Notifications</h2>
		<p>Notifications are reactive; they only appear when a user has completed an action.</p>
		<div class="grid grid--full">
			<div class="grid__item one-whole gc-code__output">
				<div class="notification">
            <p class="notification__message">
              Item successfully deleted!
              <a href="#" class="notification__close">×</a>
            </p>
          </div>
          <div class="notification notification--blue">
            <p class="notification__message">
              Awesome, thanks for taking part!
              <a href="#" class="notification__close">×</a>
            </p>
          </div>
          <div class="notification notification--yellow">
            <p class="notification__message">
              Whoops, we couldn't complete that action for you.
              <a href="#" class="notification__close">×</a>
            </p>
          </div>
          <div class="notification notification--red">
            <p class="notification__message">
              Hmmm, it seems that item doesn't exist.
              <a href="#" class="notification__close">×</a>
            </p>
          </div>
			</div>
			<div class="grid__item one-whole gc-code__input">
<pre><code>&lt;div class="notification">
  &lt;p class="notification__message">
    Item successfully deleted!
    &lt;a href="#" class="notification__close">×&lt;/a>
  &lt;/p>
&lt;/div>
&lt;div class="notification notification--blue">
  &lt;p class="notification__message">
    Awesome, thanks for taking part!
    &lt;a href="#" class="notification__close">×&lt;/a>
  &lt;/p>
&lt;/div>
&lt;div class="notification notification--yellow">
  &lt;p class="notification__message">
    Whoops, we couldn't complete that action for you.
    &lt;a href="#" class="notification__close">×&lt;/a>
  &lt;/p>
&lt;/div>
&lt;div class="notification notification--red">
  &lt;p class="notification__message">
    Hmmm, it seems that item doesn't exist.
    &lt;a href="#" class="notification__close">×&lt;/a>
  &lt;/p>
&lt;/div></code></pre>
			</div>
		</div>
	</div>
</div>